@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/open-sans.woff2) format("woff2");
}


* {
    box-sizing: border-box;
  }
  
  body,html {
    font-family: 'Open Sans';
    margin: 0;
    color: white;
  }
  
  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  h1,
  h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);
  }


  /* HEADER */
  .header_section{
    position: fixed;
    left: 85%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 100vh;
    color: #4d4d4d;
    background-color: #e6e6e6;
  }

  .header_nav_block{
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 0.9rem;
  }

  .header_initial_container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1.5rem;
    height: 85%;
  }

.header_initial_up_container{
  grid-row: span 3;
}
  .header_initial_low_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social_block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social_item_icon{
    width: 2rem;
    height: 2rem;
  }

  .language-switcher{
    display: flex;
  }
  .language-switcher_button{
    width: 3rem;
    border: none;
    background-color: #e6e6e6;
  }
  
  .header_button{
    width: 100%;
    height: 15%;
    font-size: 1.5rem;
    color: #e6e6e6;
    background-image: url(/img/image_2025-02-09_08-00-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    cursor: pointer;
  }



  /* MAIN */

  .main_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 100vh;
    background-image: url(/img/Curves\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.main_section_up_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.logo_block{
  width: 10rem;
  height: 5rem;
  background-image: url(/img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.time_weather_block{
  display: flex;
  align-items: center;
  width: auto;
  line-height: 0.9rem;
  height: 5rem;
}

.time_discription,
.weather_dicription{
  margin-left: 3rem;
  text-align: right;
}

.time_block,
.weather_block{
  font-size: xx-large;
  margin-left: 1rem;
}


.main_section_low_container{
  padding-left: 6.25rem;
  padding-bottom: 6.25rem;
  width: 50%;
}

.main_low_container_span{
  display: block;
  width: 50%;
  font-size: 0.9rem;
}




/* ARTICLE */
  .article_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    height: 100vh;
    background-color: royalblue;
  }

  .grid_item1,
  .grid_item6 {
    grid-column: span 2;
  }
  
  .grid_item1{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: black;
    background-image: url(/img/1.png) ;
    background-position: center;
    background-size: cover;
  }
  .grid_item2{
    display: flex;
    align-items: end;
    background-image: url(/img/2.png) ;
    background-position: center;
    background-size: cover;
  }
  .grid_item3{
    background-image: url(/img/3.png) ;
    background-position: center;
    background-size: cover;
  }
  .grid_item4{
    background-image: url(/img/4.png) ;
    background-position: center;
    background-size: cover;
  }
  .grid_item5{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-image: url(/img/5.png) ;
    background-position: center;
    background-size: cover;
  }
  .grid_item6{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background-image: url(/img/6.png) ;
    background-position: center;
    background-size: cover;
  }
  
  .article_item_span{
    display: block;
    margin: 3rem;
    font-size: 1.5rem;
  }

  .span6{
    margin-right: 8rem;
  }
  
  